## Leitura dos dados


### Informação sobre o Dataset usado ###

Pesquisa de mercado de Data Science no Brasil feita pela comunidade Data Hackers. A pesquisa foi conduzida de forma online durante o mês de Novembro de 2019.

O dataset foi anonimizado ao remover alguns outliers que poderiam identificar o entrevistado e, portanto, nem todos os dados coletados na pesquisa estarão disponíveis aqui. Estados com menor incidência de resposta, como aqueles das regiões Norte, Nordeste e Centro-Oeste terão apenas sua região indicada no dataset, também como consequência do processo de anonimização.

As perguntas cujas respostas são multi-valoradas ocupam mais de uma coluna no dataset. Portanto, para diferenciar quais colunas pertencem a quais perguntas, cada coluna é identificada com uma tupla. Sendo o primeiro identificador o da pergunta, e, no caso de várias respostas, o segundo identificador referencia a alternativa escolhida. As perguntas mapeadas são mostradas abaixo (lembrando que algumas foram removidas e outras tiveram alguns outliers transformados/apagados no processo de anonimização)

Pergunta_1 (P1) = Idade? [Mascarada]

Pergunta_2 (P2) = Gênero? [Mascarada]

Pergunta_3 (P3) = Atualmente você vive no Brasil?

Pergunta_4 (P4) = Em que país você vive hoje?

Pergunta_5 (P5) = Em que estado você vive hoje? [Mascarada]

Pergunta6 (P6) = Na questão anterior você disse que vive em . Esse é seu estado de origem (onde nasceu ou se formou)?

Pergunta_7 (P7) = Qual seu estado de origem?

Pergunta_8 (P8) = Qual seu nível de ensino?

Pergunta_9 (P9) = Qual sua área de formação?

Pergunta_10 (P10) = Qual sua situação atual de trabalho?

Pergunta_11 (P11) = A empresa em que você trabalha pertence a qual setor?

Pergunta_12 (P12) = A empresa em que você trabalha possui quantos funcionários atualmente?

Pergunta_13 (P13) = Você atua como gestor?

Pergunta_14 (P14) = Qual das opções abaixo definem melhor seu cargo de trabalho atual como gestor?

Pergunta_15 (P15) = Qual das opções abaixo definem melhor seu cargo de trabalho atual?

Pergunta_16 (P16) = Qual sua faixa salarial atual? [Mascarada]

Pergunta_17 (P17) = Quanto tempo de experiência na área de dados você tem?

Pergunta_18 (P18) = Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?

Pergunta_19 (P19) = Você se considera um profissional que atua na área de Data Science?

Pergunta_20 (P20) = Quais dos métodos listados abaixo você costuma utilizar no trabalho?

Pergunta_21 (P21) = Quais das linguagens de programação listadas abaixo você utiliza no trabalho?

Pergunta_22 (P22) = Entre as linguagens de programação listadas abaixo, qual é a que você mais utiliza no trabalho? [Mascarada]

Pergunta_23 (P23) = Quais das fontes de dados listadas você já analisou no trabalho?

Pergunta_24 (P24) = Entre as fontes de dados listadas, quais você utiliza na maior parte do tempo? Selecione no máximo duas opções que você mais utiliza.

Pergunta_25 (P25) = Quais das opções de Cloud listadas abaixo você utiliza no trabalho?

Pergunta_26 (P26) = Quais dos bancos de dados/fontes de dados listados abaixo você utiliza para consultar informações, e posteriormente analisar, no trabalho?

Pergunta_27 (P27) = Quais as Ferramentas de Business Intelligence você utiliza no trabalho?

Pergunta_28 (P28) = Quais as tecnologias são utilizadas como ferramenta de ETL no seu trabalho?

Pergunta_29 (P29) = Sua organização possui um Data Warehouse?

Pergunta_30 (P30) = Qual tecnologia utilizada como plataforma do Data Warehouse?

Pergunta_31 (P31) = Quais das iniciativas do Data Hackers que você já acessou/acompanhou?

Pergunta_32 (P32) = Entre as iniciativas do Data Hackers qual a sua preferida?

Pergunta_33 (P33) = De quais outras formas que você costuma se atualizar no mundo dos dados?

Pergunta_34 (P34) = Em quais dessas plataformas listadas abaixo você já iniciou/completou cursos na área de Data Science?

Pergunta_35 (P35) = Dentre as plataformas listadas abaixo qual foi a sua preferida para cursos de Data Science?

Pergunta_36 (P36) = Você deseja participar do sorteio?

#### Além dessas, derivamos algumas outras colunas:

- Derivado_1 (D1) = Macrorregião em que mora

- Derivado_2 (D2) = Macrorregião em que nasceu

- Derivado_3 (D3) = Área de formação anonimizada

- Derivado_4 (D4) = Setor de mercado anonimizado

- Derivado_5 (D5) = Nível de gerência anonimizado

- Derivado_6 (D6) = Cargo anonimizado

In [28]:
# Pegando os dados e importando as bibliotecas que vou usar
link = 'https://raw.githubusercontent.com/ricardorocha86/Datasets/master/PesquisaDH/datahackers-survey-2019-anonymous-responses.csv'
import pandas as pd
dados = pd.read_csv(link)
dados.head()

,"('P0', 'id')","('P1', 'age')","('P2', 'gender')","('P3', 'living_in_brasil')","('P5', 'living_state')","('P6', 'born_or_graduated')","('P8', 'degreee_level')","('P10', 'job_situation')","('P12', 'workers_number')","('P13', 'manager')",...,"('P34', 'other')","('P35', 'data_science_plataforms_preference')","('P35', 'other')","('P36', 'draw_participation')","('D1', 'living_macroregion')","('D2', 'origin_macroregion')","('D3', 'anonymized_degree_area')","('D4', 'anonymized_market_sector')","('D5', 'anonymized_manager_level')","('D6', 'anonymized_role')"
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),1.0,Estudante de Graduação,Empregado (CTL),de 1 a 5,0.0,...,0,Nunca fiz cursos online,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Outras,NaN,Outras
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),Acima de 3000,0.0,...,1,NaN,Data Science Academy,0.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Educação,NaN,Data Analyst/Analista de Dados
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),1.0,Graduação/Bacharelado,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Outras Engenharias,Indústria (Manufatura),NaN,Outras
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),0.0,Estudante de Graduação,Estagiário,de 11 a 50,0.0,...,0,Alura,NaN,1.0,Região Sudeste,Região Sudeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Intelligence/Analista de BI
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,1.0,Graduação/Bacharelado,Freelancer,de 6 a 10,1.0,...,0,Udemy,NaN,1.0,NaN,NaN,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,"C-level (CDO, CIO, CTO)",NaN

## Pré-Processamento básico

In [29]:
# Pré-processamento básico
# Agrupando as vagas por tipos semelhantes
profmap = {'Desenvolvedor ou Engenheiro de Software': 'Desenvolvedor/Engenheiro de Software', 
                                            'Outras': 'Outras',
                 'Data Scientist/Cientista de Dados': 'Cientista de Dados',
                    'Data Analyst/Analista de Dados': 'Analista de Dados',
              'Business Intelligence/Analista de BI': 'Analista de BI',
                 'Data Engineer/Engenheiro de Dados': 'Engenheiro de Dados',
             'Business Analyst/Analista de Negócios': 'Analista de BI',
               'Analista de Inteligência de Mercado': 'Analista de BI',
                                        'Engenheiro': 'Outras',
                             'Analista de Marketing': 'Outras',
                    'Engenheiro de Machine Learning': 'Cientista de Dados',
               'DBA/Administrador de Banco de Dados': 'Engenheiro de Dados',
                                       'Estatístico': 'Cientista de Dados',
                                        'Economista': 'Outras'}

#agrupando as empresas por tamanho
tammap = { 'de 1 a 5': 'Pequena',
           'de 6 a 10': 'Pequena',
           'de 11 a 50': 'Pequena',
           'de 51 a 100': 'Pequena',
           'de 101 a 500': 'Média',
           'de 501 a 1000': 'Média',
           'de 1001 a 3000': 'Grande',
           'Acima de 3000': 'Grande'}

# agrupando os salarios por faixa           
salamap = {    'Menos de R$ 1.000/mês': 1000,
      'de R$ 1.001/mês a R$ 2.000/mês': 1500, 
       'de R$ 2.001/mês a R$ 3000/mês': 2500,
      'de R$ 3.001/mês a R$ 4.000/mês': 3500,
      'de R$ 4.001/mês a R$ 6.000/mês': 5000, 
      'de R$ 6.001/mês a R$ 8.000/mês': 7000,
     'de R$ 8.001/mês a R$ 12.000/mês': 10000,
    'de R$ 12.001/mês a R$ 16.000/mês': 14000,
    'de R$ 16.001/mês a R$ 20.000/mês': 18000,
    'de R$ 20.001/mês a R$ 25.000/mês': 22500, 
              'Acima de R$ 25.001/mês': 25000}
 

def aux(x):
    if x in ['Empregado (CTL)', 'Empreendedor ou Empregado (CNPJ)', 'Estagiário']:
        return x
    else:
        return 'Outros'
 
cortes = [0, 24, 30, 40, 100]
nomes = ['[18,24]', '[25,30]', '[31,40]', '[41,50]']
 
# mapeando as colunas com as quais vou usar no meu modelo
dados['Salário'] = dados["('P16', 'salary_range')"].map(salamap)   
dados['Idade'] = pd.cut(dados["('P1', 'age')"], bins = cortes, labels = nomes) 
dados['Profissão'] = dados["('D6', 'anonymized_role')"].map(profmap) 
dados['Tamanho da Empresa'] = dados["('P12', 'workers_number')"].map(tammap)
dados['Cargo de Gestão'] = dados["('P13', 'manager')"].map({0: 'não', 1: 'sim'})
dados['Experiência em DS'] = dados["('P17', 'time_experience_data_science')"]
dados['Tipo de Trabalho'] = dados["('P10', 'job_situation')"].apply(aux) 
dados['Escolaridade'] = dados["('P8', 'degreee_level')"]
dados['Área de Formação'] = dados["('D3', 'anonymized_degree_area')"]
dados['Setor de Mercado'] = dados["('D4', 'anonymized_market_sector')"] 
dados['Brasil'] = dados["('P3', 'living_in_brasil')"]
dados['Estado'] = dados["('P5', 'living_state')"]
dados['Linguagem Python'] = dados["('P21', 'python')"]
dados['Linguagem R'] = dados["('P21', 'r')"]
dados['Linguagem SQL'] = dados["('P21', 'sql_')"]
dados.head()

,"('P0', 'id')","('P1', 'age')","('P2', 'gender')","('P3', 'living_in_brasil')","('P5', 'living_state')","('P6', 'born_or_graduated')","('P8', 'degreee_level')","('P10', 'job_situation')","('P12', 'workers_number')","('P13', 'manager')",...,Experiência em DS,Tipo de Trabalho,Escolaridade,Área de Formação,Setor de Mercado,Brasil,Estado,Linguagem Python,Linguagem R,Linguagem SQL
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),1.0,Estudante de Graduação,Empregado (CTL),de 1 a 5,0.0,...,Não tenho experiência na área de dados,Empregado (CTL),Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Outras,1,Minas Gerais (MG),0,0,0
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),Acima de 3000,0.0,...,Menos de 1 ano,Empregado (CTL),Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Educação,1,São Paulo (SP),1,0,1
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),1.0,Graduação/Bacharelado,Empregado (CTL),Acima de 3000,0.0,...,de 1 a 2 anos,Empregado (CTL),Graduação/Bacharelado,Outras Engenharias,Indústria (Manufatura),1,São Paulo (SP),1,0,0
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),0.0,Estudante de Graduação,Estagiário,de 11 a 50,0.0,...,Menos de 1 ano,Estagiário,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,1,São Paulo (SP),1,0,1
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,1.0,Graduação/Bacharelado,Freelancer,de 6 a 10,1.0,...,de 4 a 5 anos,Outros,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,1,NaN,1,0,1

In [30]:
# filtrando as colunas que vou usar para um novo dataset
vars = dados.columns[-15:]
dados0 = dados[vars]
dados0.head()

,Salário,Idade,Profissão,Tamanho da Empresa,Cargo de Gestão,Experiência em DS,Tipo de Trabalho,Escolaridade,Área de Formação,Setor de Mercado,Brasil,Estado,Linguagem Python,Linguagem R,Linguagem SQL
0,1500.0,"[31,40]",Outras,Pequena,não,Não tenho experiência na área de dados,Empregado (CTL),Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Outras,1,Minas Gerais (MG),0,0,0
1,2500.0,"[18,24]",Analista de Dados,Grande,não,Menos de 1 ano,Empregado (CTL),Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Educação,1,São Paulo (SP),1,0,1
2,5000.0,"[25,30]",Outras,Grande,não,de 1 a 2 anos,Empregado (CTL),Graduação/Bacharelado,Outras Engenharias,Indústria (Manufatura),1,São Paulo (SP),1,0,0
3,1500.0,"[18,24]",Analista de BI,Pequena,não,Menos de 1 ano,Estagiário,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,1,São Paulo (SP),1,0,1
4,7000.0,"[25,30]",NaN,Pequena,sim,de 4 a 5 anos,Outros,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,1,NaN,1,0,1

In [31]:
# verificando a quantidade de linhas e colunas do meu novo dataset
dados0.shape

(1765, 15)

In [32]:
# verificando a quantidade de linhas em branco(dados faltantes)
dados0.isnull().mean()

Salário               0.134844
Idade                 0.013598
Profissão             0.291218
Tamanho da Empresa    0.134844
Cargo de Gestão       0.134844
Experiência em DS     0.000000
Tipo de Trabalho      0.000000
Escolaridade          0.000000
Área de Formação      0.019830
Setor de Mercado      0.137677
Brasil                0.000000
Estado                0.190935
Linguagem Python      0.000000
Linguagem R           0.000000
Linguagem SQL         0.000000
dtype: float64

In [33]:
# Salvando meu novo dataset em um arquivo csv
dados0.to_csv('prof-dados-resumido.csv', index = False)

In [34]:
dados0.head()

,Salário,Idade,Profissão,Tamanho da Empresa,Cargo de Gestão,Experiência em DS,Tipo de Trabalho,Escolaridade,Área de Formação,Setor de Mercado,Brasil,Estado,Linguagem Python,Linguagem R,Linguagem SQL
0,1500.0,"[31,40]",Outras,Pequena,não,Não tenho experiência na área de dados,Empregado (CTL),Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Outras,1,Minas Gerais (MG),0,0,0
1,2500.0,"[18,24]",Analista de Dados,Grande,não,Menos de 1 ano,Empregado (CTL),Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Educação,1,São Paulo (SP),1,0,1
2,5000.0,"[25,30]",Outras,Grande,não,de 1 a 2 anos,Empregado (CTL),Graduação/Bacharelado,Outras Engenharias,Indústria (Manufatura),1,São Paulo (SP),1,0,0
3,1500.0,"[18,24]",Analista de BI,Pequena,não,Menos de 1 ano,Estagiário,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,1,São Paulo (SP),1,0,1
4,7000.0,"[25,30]",NaN,Pequena,sim,de 4 a 5 anos,Outros,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,1,NaN,1,0,1

## Instalando a biblioteca que têm o modelo que vou usar

In [23]:
# Caso não tenha o pycaret instalado, descomente a linha abaixo e instale
#!pip install pycaret --ignore-installed

In [35]:
# importando todas as funções que vou usar da biblioteca do pycaret
from pycaret.regression import setup, create_model, tune_model, evaluate_model, finalize_model, save_model
import warnings
warnings.filterwarnings('ignore')

In [36]:
# Configuração da Modelagem automática feita pelo PyCaret
# Envolve os procedimentos de validação quanto de pré-processamento

modelagem = setup(data = dados0,
                  target = 'Salário',
                  ignore_low_variance = True,
                  combine_rare_levels = True)

In [37]:
# Criando o modelo com o randomForest
modelo = create_model('rf')

In [43]:
# Fazendo uma otimização do modelo
modelo_tunado = tune_model(modelo, optimize = 'RMSE', n_iter = 10)

In [44]:
# validação do modelo
evaluate_model(modelo)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [45]:
modelo_final = finalize_model(modelo_tunado)

In [46]:
# Salvando nosso modelo
save_model(modelo_final, 'modelo-para-previsao-de-salario')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='Salário',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy...
                  RandomForestRegressor(bootstrap=False, ccp_alpha=0.0,
                                        criterion='mse', max_depth=10,
                                        max_features='log2', max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.0002,
                                        min_impurity_split=None,
                                        min_samples_leaf=3, min_samples_split=9,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=110, n_jobs=-1,
                                        oob_score=False, random_state=1470,
                                        verbose=0, warm_start=False)]],
          verbose=False), 'modelo-para-previsao-de-salario.pkl')